.table-scroll {  
    max-height: 450px !important;
    overflow: auto;
}

table {
    table-layout: fixed;
    width: 75%; /* must have this set */
    margin: 0 auto;
    border: 1px solid black;
}

.table-cell-center {
    padding: 2% !important;
    text-align: center!important;
}

th.table-cell-center {
    width: 25%;
}

th {
   border-bottom: 1px dashed black!important;
   border-right: 1px dashed black!important;
}

th.border-right-none {
   border-right: none!important;
}

td {
   border-top: 1px dashed black!important;
   border-right: 1px dashed black!important;
}

td.border-right-none {
   border-right: none!important;
}

