.table-scroll {  
    max-height: 450px !important;
    overflow: auto;
}

.table-cell-center {
    text-align:center;
    padding: .5% 1% .5% 1%;
}

table, th, td {
   border: 1px solid black;
}

td, tr {
    vertical-align: middle !important;
}
